body{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #080808;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid #ffffff6d;
    background-color: black;
}
.logo img{
    height: 50px;
}
.logo2 img{
    height: 60px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}
.search{
    width: 250px;
    height: 40px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
nav .menu li a:hover{
    background-color: white;
    color: black;
    transition: ease-out 0.5s;
}
.center-content{
    width: 1330px;
}
#HTBTitle{
    background-color: #1a1a1a;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}
.title-text{
    font-size: 40px;
    text-align: start;
}
nav .menu-btn{
    display: none;
}
#article-hr{
  border-color: #00b7ff;
}
@media (max-width:1100px){
    nav{
        justify-content: space-between;
        height: 70px;
        pad: 0px 10px;
    }
    nav .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background: #00b7ff;
        border-bottom: 4px solid #242424;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before
    nav .menu-icon .nav-icon:after{
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon::before{
        top: 5px;
    }
    nav .menu-icon .nav-icon::after{
        top: -5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}
@media (max-width: 1433px) {
    .center-content {
        width: calc(63% + 445px);
    }
}
.document-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.opening-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .opening-cards > a {
    background-color: #1a1a1a;
  }
  .opening-cards > a:hover {
    color: #006def;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  .first-card {
    grid-column: 1/3;
  }
  .first-card .card-img-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  .first-card img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .first-card p {
    font-size: 38px;
    text-align: center;
    margin: 10px 10px;
  }
  .first-card:hover p {
    color: #006def;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  .opening-cards > a:nth-child(n + 2) .card-img-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  .opening-cards > a:nth-child(n + 2) img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .opening-cards > a:nth-child(n + 2) p {
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
  }
  p{
    font-family: 'Roboto';
    font-weight: light;
    font-size: 30px;
    color: #fff;
    text-align: left;
  }
  h1{
    color: white;
    font-weight: initial;
  }
  #blq-container-outer {
    background: url(img/HTB-News-New-Banner.jpg);
    width: 100%;
    height: 128px;
}
#blq-container-outer p{
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 30px;
}
#newsheader{
  font-size: 4.5em;
}
#au{
  font-size: 0.5em;
  padding-left: 20px;
}
.topicmenu-unclickable{
  display: flex;
  justify-content: center;
}
.topicmenu-unclickable ul{
  background-color: #0808087c;
  padding:5px 0 0 5px;
  margin: 0;
  height: 40px;
}
.topicmenu-unclickable li{
  color: white;
  display: flex;
  list-style: none;
  font-family: 'Roboto';
  font-weight: light;
  font-size: 1.2em;
  border-right: 1px solid #fff;
  padding: 0 6px 0 6px;
  padding-top: 3px;
  float: left;
  background-color: none;
}
#content p{
  width: 100%;
  color: #535353;
  font-family: 'Roboto';
  font-weight: light;
  font-size: 1.1em;
  padding: 0 20px 0 20px;
  padding-top: 5px;
}
.date{
  font-weight: bold;
}
.newstitle{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 3em;
  margin-top: 20px;
  padding: 0 20px 0 20px;
  color: #fff;
}
.headlineimg{
  height: 300px;
  float: left;
  margin-left: 20px;
  border: 2px solid #00b7ff;
  border-radius: 20px;
}
.newsitem{
  position: relative;
  left: 5px;
  top: -10px;
  width: 250px;
  height: 100px;
  font-size: 1.2em;
  float: left;
}
#secondry-column {
	min-width: 315px;
	float: right;
	border-left: 1px solid white;
  left: -3em;
  padding-left: 1em;
	position: relative;
	top: 3px;
	padding-bottom: 4000px;
	margin-bottom: -4000px;
}
#watch-listen {
	background-color: #1a1a1a;
  color: whitesmoke;
  font-family: Roboto;
	width: 300px;
	padding: 3px 25px 0 0px;
  padding-left: 10px;
	display: block;
	font-size: 14px;
	line-height: 16px;
  border-radius: 15px;
}
.live {
	margin-top: 20px;
}
.live-links {
	text-decoration: none;
	color: white;
	display: block;
	padding: 5px;
	font-size: 16px;
	line-height: 20px;
}
.live-links:hover{
  text-decoration: underline;
}
.politics-live {
	background-color: #00b7ff;
	padding: 4px 7px;
	font-size: 11.52px;
	line-height: 11.52px;
}
.live-links h3 {
	position: relative;
	margin-left: 10px;
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
}
#aside-news {
	margin-top: 15px;
	width: 300px;
  height: 560px;
	background-color: #1a1a1a;
	padding-top: 23px;
  border-radius: 15px;
	}
.aside-links {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	padding: 3px;
}
.aside-links .image {
	width: 110px;
	height: 66px;
	position: absolute;
  margin-left: 8px;
	left: 0px;
	top: -10px;
  border-radius: 10px;
}
.aside-links .aside-heading {
	margin-left: 122px;
  margin-top: -15px;
	font-size: 16px;
	line-height: 20px;
	color: white;
  font-family: Roboto;
  font-weight: normal;
}
.aside-links .aside-heading:hover{
  text-decoration: underline;
  color: #00b7ff;
}
.time-stamp {
	display: flex;
	margin-left: 122px;
	font-size: 15px;
	color: #999;
	padding: 2px;
	margin-top: -10px;
  font-family: Roboto;
}
#aside-share {
	background-color: #1a1a1a;
	font-size: 24px;
  height: 30px;
  border-radius: 5px;
}
#aside-share a {
  margin-left: 12px;
	text-decoration: none;
	font-family: Roboto;
  color: white;
}
#aside-share i {
	color: whitesmoke;
	margin-left: 5px;
	}
#aside-contact {
	background-color: #1a1a1a;
	width: 300px;
  border-radius: 10px;
}
#aside-contact ul {
	font-size: 14px;
	padding: 10px 0;
}
#aside-contact ul li {
	list-style: none;
	padding: 7px 0;
	padding-left: 29px;
	}
  #mob {
    background: url("https://image.flaticon.com/icons/svg/15/15874.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 7px;
    color: white;
    font-family: Roboto;
  }
  #email {
    background: url("https://image.flaticon.com/icons/svg/131/131155.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 7px;
    color: white;
    font-family: Roboto;
  }
  #twitter {
    background: url("https://image.flaticon.com/icons/svg/8/8800.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 7px;
    color: white;
    font-family: Roboto;
  }
  
  #aside-contact ul li a {
    text-decoration: underline;
    color: white;
    font-family: Roboto;
    font-weight: 500;
}
/* L O A D I N G  S C R E E N */

#loader {
  z-index: 100;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
}

#loader-content {
  width: 70%;
  max-width: 350px;
  text-align: center;
}

#loader-content img {
  width: 100%;
}

.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  margin: 25px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(50px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #fff;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #fff;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
      transform: rotate(0deg);
      
  }
  100%{
      transform: rotate(360deg);
  }
}
@media (max-width: 1433px) {
  .main-nav-entry {
    flex-grow: 1;
    padding: 0;
  }
  #main-nav {
    width: 63%;
  }
  #more-nav-content {
    width: calc(63% + 445px);
  }
  .center-content {
    width: calc(63% + 445px);
  }
}
@media (max-width: 1278px) {
  .center-content {
    width: calc(50% + 445px);
  }
  .opening-cards > a:nth-child(n + 2) p {
    font-size: 18px;
  }
  .first-card p {
    font-size: 32px;
  }
}
@media (max-width: 1000px) {
  .opening-cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .opening-cards {
    grid-template-columns: repeat(5, 1fr);
  }
  .first-card {
    grid-column: 1/4;
  }
  .opening-cards > a:nth-child(n + 2) {
    grid-column: 4/6;
  }

}@media (max-width: 1433px) {
    .main-nav-entry {
      flex-grow: 1;
      padding: 0;
    }
    #main-nav {
      width: 63%;
    }
    #more-nav-content {
      width: calc(63% + 445px);
    }
    .center-content {
      width: calc(63% + 445px);
    }
  }
  @media (max-width: 1278px) {
    .center-content {
      width: calc(50% + 445px);
    }
    .opening-cards > a:nth-child(n + 2) p {
      font-size: 18px;
    }
    .first-card p {
      font-size: 32px;
    }
  }
  @media (max-width: 1000px) {
    .opening-cards {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .opening-cards {
      grid-template-columns: repeat(5, 1fr);
    }
    .first-card {
      grid-column: 1/4;
    }
    .opening-cards > a:nth-child(n + 2) {
      grid-column: 4/6;
    }
  }
