.video-sec-wrap {
	width: 100%;
	min-height: 100vh;
}
.video-sec {
	width: 87%;
	margin: 3em auto;
	text-align: left;
}
.video-sec-middle {
	grid-template-columns: repeat(4,1fr);
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	grid-column-gap: 10px;
	padding: 20px 0;
}
.thumb-wrap {
	display: inline;
	cursor: pointer;
}
.thumb {
	display: block;
	margin: .4em;
	width: 100%;
	height: auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	opacity: 1;
	transition: opacity .1s ease-in-out;
}
.thumb:hover {
	opacity: 1;
	outline: #00b7ff 3.20px solid;
}
.thumb-info {
	display: inline-block;
	height: auto;
	width: 100%;
	padding: .4em;
}
.thumb-title {
	color: #f5f5f5;
	margin: 0;
	font-size: 1.2em;
}
.thumb-user {
	color: #7e7e7e;
	display: block;
	margin: 0;
	font-size: .9em;
}
.thumb-text {
	color: #7e7e7e;
	display: inline-block;
	margin: 0;
	font-size: .8em;
}
.video-sec-title {
	font-weight: bolder;
	font-size: 1.4em;
	color: #f5f5f5;
	margin: 5px 0 10px 10px;
}
.video-showmore {
	font-weight: bold;
	font-variant: all-petite-caps;
	display: block;
	color: #7e7e7e;
	padding: 10px;
	font-size: 1.2em;
}
@media only screen and (max-width: 1456px) {
	.video-sec-middle {
		grid-template-columns: repeat(2,1fr);
	}
}
@media only screen and (max-width: 1024px) {
	.video-sec-middle {
	  grid-template-columns: repeat(3,1fr);
	}
}
@media only screen and (max-width: 756px) {
  .video-sec-middle {
   grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 496px) {
  .video-sec-middle {
   grid-template-columns: repeat(1,1fr);
  }
}

